// Styles
// Import Main styles for this application
@import './scss/style.scss';
@import './scss/variables.scss';
@import './scss/mixins';

body {
  font-family: Proxima Nova,"Source Sans Pro",Helvetica,Arial,sans-serif !important;
}

#gridContainer {
  height: auto;
}

.modal-info {
  .modal-content {
    border:0px ;
    border-radius: 0;
  }
  .modal-header {
    border-top-left-radius: 0;
     border-top-right-radius: 0;
  }
}
.modal-primary {
  .modal-content {
    border:0px ;
    border-radius: 0;
  }
  .modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.modal-title {
  color: #fff !important;
}

.ant-modal-body {
  padding-top: 5px!important;
}

.table td {
  padding: 5px;
  vertical-align: top;
   border-top: 0;
}
.table th, .table td {
  padding: 7px;
}
.badge {
  color: #fff;
  font-size: 13px;
  height: 25px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 30px;
  background-color: #ea4b51;
  text-shadow: none;
  font-weight: normal;

  &.red {
    background-color: $red-badge-color;
  }
  &.green {
    background-color: $green-badge-color;
  }
  &.blue {
    background-color:$blue-badge-color;
  }
  &.orange {
    background-color:$orange-badge-color;
  }
  &.light-blue{
    background-color:$light-blue-badge-color;
  }
  &.small {
      font-size: 10px;
      height: 22px;
  }
}

.flex-align-item-center {
  align-items: center
}

p {
  color: rgba(0, 0, 0, 0.85) !important;
}

.card-icon {
  width: 35px;
  height: 35px;
  color: #fff;
  font-size: 20px;
  padding: 2px 0;
  border-radius: 0;
  color: #fff !important;
  cursor: pointer;

  &.bg-white {
    background-color: $btn-bac-white;
  }
  .blue {
    border-color: $blue-badge-color;
    color: #20a8d8 !important;
  }
  .green {
    border-color: #4dbd74;
    color: #4dbd74 !important;
  }
  .red {
    border-color: #f86c6b;
    color: #f86c6b !important;
  }
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
}

.inline-block{
  display: inline-block !important;
}
.small-width-btn{
  width: 35px !important;
}
.small-height-btn{
  height: 30px;
  padding: 5px;
}
.inline-block{
  display: inline-block !important;
}
.custom-button{
  border-radius: 0 !important;
  width: 60px !important;
  display: inline-block !important;
  margin-right: 5px !important;
}
.custom-button-small{
  border-radius: 0 !important;
  width: 25px !important;
  display: inline-block !important;
}
.table-with-scroll {
  .ant-table-body {
    overflow-x: auto;
  }
}
.remove-btn-border-radius{
  border-radius: 0 ;
}
.btn-dribbbl {
  color: #76838f;
  background-color: #e4eaec;
  border-color: #e4eaec;
}
.left-filter {
  margin-top: -23px;
  padding-top: 10px;
  margin-left: -15px;
  background: #fff;
}

.ant-card, .card {
  &.no-padding {
    > .ant-card-body {
      padding: 0;
    }
  }
  &.no-border {
    border: none !important;
  }
}

.fa-15x {
  font-size: 1.5em;
}
.ant-badge-status-dot {
  width: 10px !important;
  height: 10px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-disabled {
  cursor: no-drop;
}

.ant-table-tbody > tr {
  anoimation: none !important;
}

.ant-message {
  z-index: 99999;
}
.ant-spin {
  &.white {
    i {
      background-color: #FFFFFF !important;
    }
  }
}

.ant-modal {
  margin-bottom: 20px !important;
}
.ant-form-item {
  margin-bottom: 5px !important;
}
.ant-drawer-body {
  padding-bottom: 50px !important;
}
.ant-drawer-left {
  z-index: 9999 !important;
}

.link {
  color: blue;
  cursor: pointer;
}

.dx-popup-wrapper > .dx-overlay-content {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #e0e0e0 !important;
}

.dx-datagrid-text-content {
   overflow: unset !important;
}

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 0;
  border-top: 1px dashed #20a8d8 !important;
}

@media (max-width: 992px) {
  .main {
    .container-fluid {
      padding: 0 15px;
    }
  }
  .ant-table-body {
    overflow-x: auto !important;
  }
  .ant-table-scroll {
    .ant-table-body {
      margin-top: 15px !important;
    }
  }
  .ant-drawer-content-wrapper {
    width: 100% !important;
    padding-top: 56px !important;
  }
  .ant-modal {
    margin-bottom: 60px !important;
    top: 56px !important;
  }
  .ant-drawer-body {
    padding: 10px !important;
  }

}



.app.black {
  .app-header {
    background-color: #3a4149;
    border-bottom: 1px solid #23282c;

  }
  .navbar-nav .nav-link {
    color: #c8ced3;
  }
  .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #e4e7ea;
  }
  .breadcrumb {
    border-radius: 0;
    border-bottom: 1px solid #23282c;
    background-color: #3a4149;
  }
  .breadcrumb-item.active {
    color: #f3f4f5;
  }
  .sidebar, .ant-menu-dark {
    background: #3a4149;
    border-right: 1px solid #23282c;
  }
  .main {
    background-color: #2f353a;
    //.card {
    //  background-color: #3a4149;
    //  border: 1px solid #23282c;
    //}
    //.ant-tabs-nav .ant-tabs-tab {
    //  color: #fff;
    //}
    //.ant-table-wrapper {
    //  .ant-table-thead>tr>th, .ant-table-tbody>tr>td {
    //    color: #fff;
    //  }
    //  .ant-table-pagination.ant-pagination {
    //    color: #fff;
    //  }
    //  .anticon {
    //    color: #fff !important;
    //  }
    //
    //}
  }
  .app-footer {
    color: #e4e7ea;
    background: #3a4149;
    border-top: 1px solid #23282c;
  }
}

.ml-20 {
  margin-left: 20px !important;
}


.ml-50 {
  margin-left: 50px !important;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-21 {
  font-size: 21px;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.ht-36 {
  height: 36px !important;
}

.background-none {
  background: none !important;
}

.w-200 {
  width: 200px !important;
}

.header-icons-box {
  border: 1px solid #d9d9d9;
  padding: 10px 12px !important;
  background: #fafafa;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.order-guide-header-icons-box {
  border: 1px solid #d9d9d9;
  padding: 7px 12px !important;
  background: #fafafa;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.vertical-inherit {
  vertical-align: inherit !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.disabled-button {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25) !important;
}

.page-heading {
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 20px;
}

.report-label {
  border-bottom: 1px dashed #e2e0e0 !important;
  a {
    color: #73818f;
    &:hover {
      color: #1890ff;
    }
  }
}

.ant-modal-confirm-body > .anticon {
  font-size: 45px !important;
}

.ant-modal-confirm-body {
  padding-top: 15px !important;
}

.footer-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  background: #fff;
  text-align: right;
}

* {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.w-85 {
  width: 85px;
}

.ws-nowrap {
  white-space: nowrap;
}

.align-items-baseline {
  align-items: baseline;
}

.order-guides-confirm-bids-table {
  .dx-datagrid .dx-row > td {
    line-height: 25px;
  }
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #03a9f4 !important;
}

.ant-tabs-ink-bar {
  background-color: #03a9f4 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #03a9f4 !important;
  border-color: #03a9f4 !important;
}

.ant-checkbox-inner {
  border-color: #696868 !important;
}

.receive-label {
  position: absolute;
  top: 10px;
  z-index: 1;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  width: 96%;
  padding-right: 15px;
}


/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-whitesmoke {
  background: whitesmoke;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w680 {
  max-width: 680px;
}

.header-background {
  background: #dcdada;
}

.header-design {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.as-center {
  align-self: center;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 2px solid #ccc;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.input--style-1 {
  padding: 9px 0;
  color: #666;
}

.input--style-1::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #555;
}

.input--style-1:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
  opacity: 1;
}

.input--style-1::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
  opacity: 1;
}

.input--style-1:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555;
}

.input--style-1:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #555;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 34px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
  padding-left: 0;
  color: #555;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 32px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 18px;
  color: #ccc;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  margin-bottom: 37px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-1 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-1 .card-heading {
  //background: url("../images/bg-head-02.jpg") center center/cover no-repeat;
  padding-top: 210px;
}

.card-1 .card-body {
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .card-1 .card-body {
    padding: 0 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.org-form-header {
  background: #00acc8;
  font-size: 25px;
  color: white;
  //border-radius: 5px;
  //margin: 10px 5px;
  padding: 8px;
}

.float-right {
  float: right;
}

.form-label {
  font-size: 15px;
  font-weight: bold;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
  margin-top: 0 !important;
}
